# **Data Types and Structures Questions**

## **Theory Questions**

**1.What are data structures, and why are they important?**

Data structures are ways of organizing and storing data efficiently. They are important because they help optimize data access, retrieval, and modification for various computational tasks.

**2.Explain the difference between mutable and immutable data types with examples.**

* Mutable data types can be changed after creation (e.g., list, dict, set).
* Immutable data types cannot be changed after creation (e.g., int, float, str, tuple).

**3.What are the main differences between lists and tuples in Python?**

* Lists are mutable, while tuples are immutable.
* Lists have more built-in methods, while tuples are faster and more memory efficient.

**4.Describe how dictionaries store data.**

Dictionaries store data as key-value pairs using a hash table, allowing for fast retrieval.

**5.Why might you use a set instead of a list in Python?**

Sets store only unique elements and provide fast lookups.

**6.What is a string in Python, and how is it different from a list?**

A string is an immutable sequence of characters, whereas a list is a mutable sequence that can store any data type.

**7.How do tuples ensure data integrity in Python?**

Since tuples are immutable, their values cannot be altered, ensuring consistency in data.

**8.What is a hash table, and how does it relate to dictionaries in Python?**

A hash table is a data structure that maps keys to values using a hash function. Python’s dictionary is implemented using a hash table.

**9.Can lists contain different data types in Python?**

Yes, a list can contain mixed data types.

**10.Explain why strings are immutable in Python?**

Strings are immutable for security, performance optimization, and to enable hashability for dictionary keys.

**11.What advantages do dictionaries offer over lists for certain tasks?**

Dictionaries provide O(1) time complexity for key-based lookups, whereas lists require O(n) searches.

**12.Describe a scenario where using a tuple would be preferable over a list?**

Tuples are preferable when storing constant data like coordinates or database records.

**13.How do sets handle duplicate values in Python?**

Sets automatically remove duplicate values.

**14.How does the “in” keyword work differently for lists and dictionaries?**

In lists, it checks for the presence of a value, while in dictionaries, it checks for the presence of a key.

**15.Can you modify the elements of a tuple? Explain why or why not.**

No, tuples are immutable, meaning their elements cannot be changed after creation.

**16.What is a nested dictionary, and give an example of its use case.**

A nested dictionary is a dictionary within another dictionary. Example:

In [3]:
student = {"name": "Nancy", "marks": {"math": 90, "science": 85}}

In [4]:
student

{'name': 'Nancy', 'marks': {'math': 90, 'science': 85}}

**17.Describe the time complexity of accessing elements in a dictionary.**

The average time complexity is O(1) due to hash table implementation.

**18.In what situations are lists preferred over dictionaries?**

Lists are preferred when order matters and when storing sequential data.

**19.Why are dictionaries considered unordered, and how does that affect data retrieval?**

Before Python 3.7, dictionaries did not maintain insertion order. This means data retrieval order was not guaranteed.

**20.Explain the difference between a list and a dictionary in terms of data retrieval.**

Lists require sequential searches (O(n)), whereas dictionaries offer direct key-based retrieval (O(1)).

# **Practical Questions:**

**1.Create a string with your name and print it.**

In [6]:
name = "Nancy Rathoure"
print(name)

Nancy Rathoure

**2.Find the length of the string "Hello World".**

In [7]:
print(len("Hello World"))

11

**3.Slice the first 3 characters from "Python Programming".**

In [9]:
print("Python Programming"[:3])

Pyt

**4.Convert the string "hello" to uppercase.**

In [10]:
print("hello".upper())

HELLO

**5.Replace "apple" with "orange" in "I like apple".**

In [11]:
print("I like apple".replace("apple", "orange"))

I like orange

**6.Create a list with numbers 1 to 5 and print it.**

In [12]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

**7.Append 10 to the list [1, 2, 3, 4].**

In [13]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

**8.Remove 3 from the list [1, 2, 3, 4, 5].**

In [14]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

**9.Access the second element in ['a', 'b', 'c', 'd'].**

In [15]:
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

**10.Reverse the list [10, 20, 30, 40, 50].**

In [16]:
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

**11.Create a tuple (100, 200, 300) and print it.**

In [17]:
numbers = (100, 200, 300)
print(numbers)

(100, 200, 300)

**12.Access the second-to-last element in ('red', 'green', 'blue', 'yellow').**

In [18]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

**13.Find the minimum number in (10, 20, 5, 15).**

In [19]:
numbers = (10, 20, 5, 15)
print(min(numbers))

5

**14.Find the index of "cat" in ('dog', 'cat', 'rabbit').**

In [20]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

**15.Create a tuple with three fruits and check if "kiwi" is in it.**

In [21]:
fruits = ("apple", "banana", "cherry")
print("kiwi" in fruits)

False

**16.Create a set {'a', 'b', 'c'} and print it.**

In [22]:
letters = {'a', 'b', 'c'}
print(letters)

{'a', 'b', 'c'}

**17.Clear all elements from {1, 2, 3, 4, 5}.**

In [23]:
numbers = {1, 2, 3, 4, 5}
numbers.clear()
print(numbers)

set()

**18.Remove 4 from {1, 2, 3, 4}.**

In [24]:
numbers = {1, 2, 3, 4}
numbers.remove(4)
print(numbers)

{1, 2, 3}

**19.Find the union of {1, 2, 3} and {3, 4, 5}.**

In [25]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1 | set2)

{1, 2, 3, 4, 5}

**20.Find the intersection of {1, 2, 3} and {2, 3, 4}.**

In [26]:
print({1, 2, 3} & {2, 3, 4})

{2, 3}